# Compiled class file
*.class

# Log file
*.log

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
target/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
bin/

# OS
.DS_Store
Thumbs.db

# Environment
.env
application-local.yml
jdk-22.0.2/
openjdk-22.0.2_linux-x64_bin.tar.gz
