POSTGRES_DB=botica_inteligente_db
POSTGRES_USER=botica_user
POSTGRES_PASSWORD=botica_password

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

DB_URL=jdbc:postgresql://localhost:5432/botica_inteligente_db
DB_USERNAME=botica_user
DB_PASSWORD=botica_password
KEYCLOAK_ISSUER_URI=http://localhost:8081/realms/botica-inteligente
CORS_ALLOWED_ORIGINS=http://localhost:4200
SPRING_PROFILES_ACTIVE=dev
